Package: com.fiore.calculatorhistory
Name: 计算器添加历史按钮(rootless)
Version: 1.2
Architecture: iphoneos-arm64
Description: 让自带计算器可以查看历史计算过程和结果
Maintainer: Donato Fiore
Author: Donato Fiore
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 13.0)
